body {
    background-image: url("table4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-size: 30px;
    color: white;
    font-family: 'Rockwell', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: rgb(26, 26, 26);
    text-decoration: underline overline;
}

#message-el {
    font-style: italic;
}

#start-btn,
#card-btn {
    display: block;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

#start-btn {
    background-color: rgb(145, 0, 0);
}

#card-btn {
    background-color: rgb(34, 0, 145);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player-el {
    color: rgb(26, 26, 26);
}